.article{
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.container{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

 .imgcont{
   width: 100vw;
  height: 60vh;
 }

 .imgcont img{
   width: 100%;
   height: 100%;
   object-fit: contain;
 }

 .aside{
   width:45vw;
   margin:0 50px 0 50px;
 }