.container{
  position: relative;
  width: 40vw;
}
.doctor{
position: absolute;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.doctor h2{
font-size: 16px;
}

.doctor img{
  width: 100%;
  height: 100vh;
  object-fit:contain;
}