.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  height: 40vh;
}
.formcont h4{
  text-align: center;
}
.formfield {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #e2e3e5;
}

.formfield input {
  padding: 10px;
  border: none;
}

.formfield select {
  padding: 10px;
}

.formfield input::placeholder {
  text-transform: uppercase;
}

.formfield button {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.formfield a{
  text-align: center;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #EFEFEF;
}